<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--定义一个bean-->
    <bean id="bookDao" class="io.tomo.lms.dao.impl.BookDaoImpl">
        <!--给对象赋值 通过set方法注入, 在运行时注入.
        <property name="name" value="tom"/>-->
    </bean>
    <bean id="userDao" class="io.tomo.lms.dao.impl.UserDaoImpl"/>
    <bean id="listDao" class="io.tomo.lms.dao.impl.ListDaoImpl"/>
    <bean id="userService" class="io.tomo.lms.service.impl.UserServiceImpl">
        <!--通过ref属性注入bean, 数据装配-->
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>